.Contenedor-General {
  border: 2px solid #222;
  height: 1920px;
  width: 1500px;
}
.Contenedor-Agregar {
  height: 250px;
  width: 1500px;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}
